<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student-Teacher Management</title>
    <meta name="description" content="">
    <!-- 
    	Volton Template
    	http://www.templatemo.com/tm-441-volton
        -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/min/plugins.min.js"></script>
    <script src="js/min/main.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="responsive-header visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-section">
                        <div class="profile-image">
                            <img src="img/profile.jpg" alt="Volton">
                        </div>
                        <div class="profile-content">
                            <h3 class="profile-title">Student&Teacher</h3>
                            <p class="profile-description">Feedback Management</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
            <div class="main-navigation responsive-menu">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-home"></i>Students</a></li>
                    <li><a href="#about"><i class="fa fa-user"></i>Teachers</a></li>
                    <li><a href="#projects"><i class="fa fa-newspaper-o"></i>Logout</a></li>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar-menu hidden-xs hidden-sm">
        <div class="top-section">
            <div class="profile-image">
                <img src="img/profile.jpg" alt="Volton">
            </div>
            <h3 class="profile-title">Student&Teacher</h3>
            <p class="profile-description">Feedback Management</p>
        </div> <!-- top-section -->
        <div class="main-navigation">
            <ul class="navigation">
                <li><a href="#top"><i class="fa fa-globe"></i>Student</a></li>
                <li><a href="#about"><i class="fa fa-pencil"></i>Teacher</a></li>
                <li><a href="#projects"><i class="fa fa-paperclip"></i>Logout</a></li>
            </ul>
        </div> <!-- .main-navigation -->
        <!-- <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div> <!-- .social-icons -->
    </div>
     <!-- .sidebar-menu --> 


    <div class="banner-bg" id="top">
        <div class="banner-overlay"></div>
        <div class="welcome-text">
            <h2>Feedback</h2>
            <!-- <h5>This is a mobile friendly layout with Bootstrap v3.3.1 framework. Maecenas eu ante at nunc posuere fringilla sit amet non dolor. Proin condimentum fermentum nunc.</h5> -->
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="fluid-container">

            <div class="content-wrapper">

                <!-- ABOUT -->
                <!-- <div class="page-section" id="about">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Learn About Me</h4>
                            <div class="about-image">
                                <img src="img/8.jpg" alt="about me">
                            </div>
                            <p>Volton is free website design from <span class="blue">template</span><span class="green">mo</span>. You can use this template for any purpose. Please tell your friends about it. Thank you. Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a> for images used in this design. You can <strong>change menu icons</strong> by checking <a rel="nofollow" href="http://fontawesome.info/font-awesome-icon-world-map/" target="_parent">Font Awesome</a> (version 4). Example: <strong>&lt;i class=&quot;fa fa-camera&quot;&gt;&lt;/i&gt;</strong></p>
                            <hr>
                        </div>
                    </div> #about -->
                <!-- </div> -->

                <!-- PROJECTS -->
                <div class="page-section" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Feedback Details</h4>
                            <!-- <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                                velit.
                                Nam nec tellus a odio tincidunt auctor a ornare odio. Maecenas et lorem molestie,
                                maximus
                                justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor.
                                Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.</p> -->
                        </div>
                    </div>
                    <!-- <div class="row projects-holder">
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/1.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/3.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/4.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl
                                            tempus commodo.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/5.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl
                                            tempus commodo.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/6.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Pellentesque porta ligula</a></h5>
                                        <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl
                                            tempus commodo.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </d/iv>
                </div>
        
                <div class="container">
                    <div class="table">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <!-- <div class="col-sm-6"><h2>Feedback <b>Details</b></h2></div> -->
                                    <div class="col-sm-4">
                                        <!-- <div class="search-box">
                                            <i class="material-icons">&#xE8B6;</i>
                                            <input type="text" class="form-control" placeholder="Search&hellip;">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <table style="width:90%"; class="table table-striped table-hover table-bordered col-md-4">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>FeedbackID <i class="fa fa-sort"></i></th>
                                        <th>Teacher Name <i class="fa fa-sort"></i></th>
                                        <th>Feedback <i class="fa fa-sort"></i></th>
                                       
                                     
                                    </tr>
                                </thead>
                                <tbody id="dis">
                
                                </tbody>
                            </table>
                                             
                                    <tr>
                                        <script src="https://code.jquery.com/jquery-3.6.0.js"
                        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
                    <script type="text/javascript">
                      function edit(id) {
                            $.ajax({
                                url: "http://localhost:3000/api/selectapi/edit/" + id
                            }).done(function (renobj) {
                                console.log(renobj)
                                if (renobj.status === "Valid") {
                                    console.log(renobj.data[0].teacher)
                                    $("#id").val(renobj.data[0].id);
                                    $("#teacher").val(renobj.data[0].teacher);
                                    $("#feed").val(renobj.data[0].feed);
                                   
                                }
                            });
                        }
                        // function dele(id) {
                        //     $.ajax({
                        //         url: "http://localhost:3000/api/selectapi/delete/" + id
                        //     }).done(function (renobj) {
                        //         console.log(renobj)
                        //         load();
                               
                        //     });
                        // }
                        function load () {
                            //alert('this is test');
                            // $.ajax({
                            //     url: "http://localhost:3000/fetch"
                            // }).done(function (data) {
                                
                            $.ajax({
                                url: "http://localhost:3000/api/selectapi"
                            }).done(function (renobj) {
                                var res = "";
                                var c=0;
                                console.log(renobj);
                                if (renobj.status === "Valid") {
                                    $.each(renobj.data, function (i) {
                                        console.log(renobj.data[i]);
                                        res = res + "<tr>";
                                        c=c+1;
                                        res = res + "<td>" + c + "</td>"
                
                                        res = res + "<td>" + renobj.data[i].id + "</td>";
                                        res = res + "<td>" + renobj.data[i].teacher + "</td>";
                                        res = res + "<td>" + renobj.data[i].feed + "</td>";
                                     
                                        res = res + "<td><button class='btn btn-primary' onclick='edit(" + renobj.data[i].id + ")' >Edit</button></td>";
                                        // res = res + "<td><button  onclick='dele(" + renobj
                                        //     .data[i]
                                        //     .id + ")' >Delete</button></td>";
                                        // res = res + "</tr>"
                                    })
                                    res = res + "";
                                    $("#dis").html(res);
                                } else {
                                    alert('Error')
                                }
                
                
                
                            });
                        
                            }
                        //     $(document).ready(function () {
                        //     //alert('this is test');
                           
                        //     load();
                        //     $("#frm").submit(function (e) {
                        //         e.preventDefault();
                        //         $.ajax({
                        //             url: "http://localhost:3000/api/selectapi/post/" + $("#id").val(),
                        //             type: "post",
                        //             data: $("#frm").serialize()
                                    
                
                        //         }).done(function (renobj) {
                        //             if (renobj.status === "Valid") {
                        //                 alert('Saved');
                        //                 load();
                        //             }
                        //         });
                                
                
                        //     })
                        // })
                    </script>
                                        
                               
                        
                        </div>
                    </div>        
                </div>














                <div class="page-section" id="contact">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">PLACE FILL FEEDBACK</h4>
                            <!-- <p>Vestibulum ac iaculis erat, in semper dolor. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.</p>  -->
                        </div>
                    </div>
                  
                    <div class="row ">
                        <form  method="post" id="frm" class="contact-form">
                            <fieldset class="col-sm-12">
                                <input type="text" readonly name="id" id="id"  >
                            </fieldset>
                            <fieldset class="col-sm-12">
                                <input type="text" name="teacher" id="teacher" placeholder="Teacher Name..." >
                            </fieldset>
                            <!-- <fieldset class="col-md-4 col-sm-6">
                                <input type="email" id="email" placeholder="Your Email...">
                            </fieldset>
                            <fieldset class="col-md-4 col-sm-12">
                                <input type="text" id="your-subject" placeholder="Subject...">
                            </fieldset> -->
                            <fieldset class="col-lg-12">
                                <textarea class="col-sm-12" name="feed" id="feed" cols="30" rows="6" placeholder="Leave your message..."></textarea>
                            </fieldset>
                            <br/>
                            <br/>
                            <fieldset class="col-sm-2">
                                <input type="submit" class='btn btn-primary' value="Send Message">
                            </fieldset>
                        </form>
                    </div> <!-- .contact-form -->
                    </div>
                <hr>

                <div class="row" id="footer">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">Student &copy;Teacher </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function () {
            load();
            
                $("#frm").submit(function (e) {
                    console.log($("#frm").serialize());
                    e.preventDefault();
                    $.ajax({
                        url: "http://localhost:3000/api/feedback/post",
                        type: "post",
                        data: $("#frm").serialize()
                    }).done(function (renobj) {
                        if (renobj.status === "Valid") {
                            alert('Saved');
                            $("#id").val('');
                            $("#teacher").val('');
                            $("#feed").val('');
                           
                            load();
                        }
                    });

                })

            });
        
        </script>
       


</body>

</html>