<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student-Teacher Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div class="responsive-header visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-section">
                        <div class="profile-image">
                            <img src="img/teacherprofile.jpg" alt="Volton">
                        </div>
                        <div class="profile-content">
                            <h3 class="profile-title">Student&Teacher</h3>
                            <p class="profile-description">Management App</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
            <div class="main-navigation responsive-menu">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-home"></i>Students</a></li>
                    <li><a href="#about"><i class="fa fa-user"></i>Teachers</a></li>
                    <li><a href="#projects"><i class="fa fa-newspaper-o"></i>Logout</a></li>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar-menu hidden-xs hidden-sm">
        <div class="top-section">
            <div class="profile-image">
                <img src="img/teacherprofile.jpg" alt="Volton">
            </div>
            <h3 class="profile-title">Student&Teacher</h3>
            <p class="profile-description">Management App</p>
        </div> <!-- top-section -->
        <div class="main-navigation">
            <ul class="navigation">
                <li><a href="#top"></i>Student</a></li>
                <li><a href="#about"></i>Teacher</a></li>
                <li><a href="#projects"></i>Logout</a></li>
            </ul>
        </div> <!-- .main-navigation -->
    </div>
    <!-- .sidebar-menu  -->


    <div class="banner-bg" id="top">
        <div class="banner-overlay"></div>
        <div class="welcome-text">
            <h2>Teacher</h2>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="fluid-container">
            <div class="content-wrapper">
                <div class="page-section" id="contact">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">ADD NEW TEACHER </h4>
                        </div>
                    </div>
                    <div class="row">
                        <form id="frm" action="/post" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="id" name="id" readonly placeholder="Id">
                                <label for="error" id="error"></label><br>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                <label for="error" id="error"></label><br>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="course" name="course" placeholder="Course">
                                <label for="error2" id="error2"></label><br>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-dark btn-block">Register</button>
                                <label for="verify" id="verify"></label><br>
                            </div>
                        </form>
                    </div>
                    <!-- .add-form -->
                </div>
                <hr>
                <div class="page-section" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Teacher details</h4>
                        </div>
                    </div>
                    <div class="row projects-holder" id="dis">
                        <hr>
                        <div class="row" id="footer">
                            <div class="col-md-12 text-center">
                                <p class="copyright-text">Student &copy;Teacher </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="js/vendor/jquery-1.10.2.min.js"></script>
            <script src="js/min/plugins.min.js"></script>
            <script src="js/min/main.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        
            <script type="text/javascript">
                function load() {
                    $.ajax({
                        url: "http://localhost:3000/teacher/select"
                    }).done(function (renobj) {
                        var res = "";
                        console.log(renobj);
                        if (renobj.status === "Valid") {
                            $.each(renobj.data, function (i) {
                                console.log(renobj.data[i]);
                                res = res + "<div class='row'>";
                                res = res + "<br>";
                                res = res + '<div class="col-md-12 col-sm-12">';
                                res = res + "<h2>"+ renobj.data[i].name +"</h2><br>";
                                // res = res + '<div class="row">';
                                // res = res + '<div class="col-xs-9">';
                                // res = res + '<h4><span class="label label-default">'+renobj.data[i].name +'</span></h4>';
                                res = res + '<h3><span class="label label-default">'+renobj.data[i].course+'</span></h3><br>';
                                res = res + '<small style="font-family:courier,\'new courier\';" class="text-muted">'+
                                    " <button onclick='edit(" + renobj.data[i].id + ")'  class='text-muted btn'>Edit</button></small>" ;
                                    res = res + '<small style="font-family:courier,\'new courier\';" class="text-muted">'+
                                    " <button onclick='dele(" + renobj.data[i].id + ")'  class='text-muted btn round'>Delete</button></small>" ;        
                                // res = res + "</div>";
                                // res = res + "<div class='col-xs-3'>";
                                // res = res + "</div>";
                                // res = res + "</div>";
                                res = res + "<br>";
                                res = res + "<br>";
                                res = res + "</div>";
                                res = res + "</div>";
                            })
                            res = res + "";
                            $("#dis").html(res);
                        } else {
                           alert('Error')
                        }
                    });
                }
        
                function edit(id) {
                    $.ajax({
                        url: "http://localhost:3000/teacher/select/edit/" + id
                    }).done(function (renobj) {
                        console.log(renobj)
                        if (renobj.status === "Valid") {
                            console.log(renobj.data[0].name)
                            $("#id").val(renobj.data[0].id);
                            $("#name").val(renobj.data[0].name);
                            $("#course").val(renobj.data[0].course);
                        }
                    });
                }
        
                function dele(id) {
                    $.ajax({
                        url: "http://localhost:3000/teacher/selectapi/delete/" + id
                    }).done(function (renobj) {
                        console.log(renobj)
                        load();
                    });
                }
        
                $(document).ready(function () {
                    load();
                    $("#frm").submit(function (e) {
                        console.log($("#frm").serialize());
                        e.preventDefault();
                        $.ajax({
                            url: "http://localhost:3000/teacher/select/post",
                            type: "post",
                            data: $("#frm").serialize()
                        }).done(function (renobj) {
                            if (renobj.status === "Valid") {
                                alert('Saved');
                                $("#id").val('');
                                $("#name").val('');
                                $("#course").val('');
                                load();
                            }
                        });
                    })
                });
            </script>
</body>
</html>